 * {
      margin: 0px auto;
      padding: 0;
      box-sizing: border-box;
 }

 body {
      font-family: Arial, sans-serif;
      max-width: 1200px;
      background-color: lightgrey;
      margin-top: 20px;
 }

 .header {
      background-color: red;
      height: 150px;
      width: 100%;
 }

 .container {
      background-color: white;
      height: 300px;
      width: 100%;
 }

 .footer {
      background-color: blue;
      height: 150px;
      width: 100%;
 }