 * {
      margin: 0px auto;
      padding: 0;
      box-sizing: border-box;
 }

 body {
      font-family: Arial, sans-serif;
      max-width: 1200px;
      background-color: lightgrey;
      margin-top: 20px;
 }

 .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 94%
 }

 .header {
      height: 150px;
      width: 100%;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 100%;
      grid-template-areas: "logo menu";
 }

 .logo {
      height: 100%;
      width: 100%;
      display: grid;
      place-content: center;
 }

 .menu {
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(5, 15fr);
      grid-template-rows: 50%;
      grid-template-areas: "opt";
      place-content: center;

 }

 .opt {
      display: grid;
      background-color: gray;
      color: white;
      place-content: space-around;
      border: 1px solid blue;
      text-decoration: none;
      height: 50%;
      width: 80%;
 }

 .main {
      background-color: white;
      height: 300px;
      width: 100%;
      min-width: 300px;
 }

 .main h1 {
      color: red;
      text-align: center;
      padding-top: 30px;



 }

 .footer {
      display: grid;
      background-color: black;
      height: 100px;
      width: 100%;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50px 50px;
      grid-template-areas:
           "name tel"
           "email address";
      place-items: center;
      color: white;
 }