 * {
      margin: 0px auto;
      padding: 0;
      box-sizing: border-box;
 }

 body {
      font-family: Arial, sans-serif;
      max-width: 1200px;
      background-color: lightgrey;
      margin-top: 20px;
 }

 .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 94%
 }

 .header {
      background-color: red;
      height: 150px;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      grid-template-areas: "logo menu";
 }

 .logo {
      background-color: green;
      height: 100%;
      width: 100%;
      display: grid;
 }

 .menu {
      background-color: yellow;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 100%;
      grid-template-areas: "menu1 menu2 menu3 menu4 menu5";

 }

 .main {
      background-color: white;
      height: 300px;
      width: 100%;
      min-width: 300px;
 }

 .footer {
      background-color: blue;
      height: 150px;
      width: 100%;
 }